/*fontuud */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&family=Comfortaa:wght@300;400;500;600;700&family=El+Messiri:wght@400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;700;800;900&display=swap');


:root{
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);


}

*{
    margin: 0;
    padding: 0;
    outline: none!important;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.navbar{
    background-color: var(--main-color);
     /*background: linear-gradient(to right, #009fff, #ec2f4b);*/
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    padding: 20px 0;
    border-radius: 0 0 0 0;
}
.navbar > .container{
    padding: 0 15px;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
    
}
.navbar .nav-item{
    margin-left: 40px;
}
.navbar .nav-item .nav-link{
  color: #ffffff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 1000;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}
body{
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #ffffff;
    line-height: 1.5;
}
.home{
    min-height: 100vh;
    padding: 150px 0;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}
.home-img img{
    max-width: 800px;
    width: 100%;
}
.home-img {
    position: relative;
}
.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.home-img .circle::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top:30px;
    left:30px;
    transform-origin: 170px 170px;
    animation: ergelt01 10s linear infinite;
}
.home-text h1{
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}
.home-text p{
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    
}
.home .home-btn{
    margin-top: 30px;
    margin-left: 20px;
}
.search-bar {
    width: 100%;
    max-width: 700px;
    background: #062cd67e;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 15px;
    animation: hailt_01 3s ease infinite;
    right: 30px;
    position: relative;
  }
  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    padding: 1px 2px;
    font-size: 15px;
    color: #cccc;
  }
  ::placeholder {
    color: whitesmoke;
  }
  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .effect-wrap .effect{
      position: absolute;
      z-index: 1;
  }
  .effect-wrap .effect-1{
    left: 20%;
    top: 20%;
    font-size: 25px;
    color: #fc9700;
    animation: ergelt01 5s linear infinite;
}
.effect-wrap .effect-2{
    left: 60%;
    top: 30%;
    font-size: 25px;
    color: #09daff;
    animation: ergelt01 5s linear infinite;
}
.effect-wrap .effect-3{
    left: 5%;
    top: 65%;
    font-size: 20px;
    color: #d751f8;
    animation: ergelt01 5s linear infinite;
}
.effect-wrap1 .effect{
    position: absolute;
    z-index: 1;
}
.effect-wrap1 .effect-1{
  left: 60%;
  top: 20%;
  font-size: 25px;
  color: #fc9700;
  animation: ergelt01 5s linear infinite;
}
.effect-wrap1 .effect-2{
  left: 100%;
  top: 30%;
  font-size: 25px;
  color: #09daff;
  animation: ergelt01 5s linear infinite;
}
.effect-wrap1 .effect-3{
  left: 15%;
  top: 65%;
  font-size: 20px;
  color: #d751f8;
  animation: ergelt01 5s linear infinite;
}
.effect-wrap2 .effect{
    position: absolute;
    z-index: 1;
}
.effect-wrap2 .effect-1{
  left: 60%;
  top: 20%;
  font-size: 25px;
  color: #fc9700;
  animation: ergelt01 5s linear infinite;
}
.effect-wrap2 .effect-2{
  left: 100%;
  top: 30%;
  font-size: 25px;
  color: #09daff;
  animation: ergelt01 5s linear infinite;
}
.effect-wrap2 .effect-3{
  left: 15%;
  top: 65%;
  font-size: 20px;
  color: #d751f8;
  animation: ergelt01 5s linear infinite;
}

.section-padding{
    padding: 5px 0;
}
.btn-2{
    background-color: #f10d6498;
    position: relative;
    color: #ffffff;
    padding: 4px 20px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: #ffffff;
    font-weight: 500;
    left: 40px;
}
.btn-2:focus{
    box-shadow: #ffffff;
}
.btn-2:hover{
    color: #ffffff;
    background-color: #7c04ec98;
}


.section-title h2{
    font-size: 40px;
    color: #2b2c2f;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 20px;
    margin-top: 100px;
}
.section-title h1{
    font-size: 40px;
    color: #2b2c2f;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 20px;
    margin-top: 80px;
}
.features .feature-item {
    box-shadow: rgb(94, 94, 94) 3px 8px 10px ;
    margin: 10px;
    padding: 1px;
    border-radius: 20px;
    text-align: justify;
    margin-top: 50px;
   
    
    
}
.features .feature-item h3 {
   
    margin: 15px;
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    
}
.features .feature-item p{
   
    margin: 20px;
    padding: 1px;
    
    text-align: justify;
    
}
.features .feature-item .icon {
    font-size: 30px;
    text-align: center;
    
}
.faq-section .accordion-item {
    margin-bottom: 20px;
    
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(142, 142, 142, .16);
}

.faq-section .accordion-item button {
    position: relative;
    padding: 18px 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    background-color: #fff;
    color: #1d2a5d;
}
.faq-section p {
    color: #747474;
    text-align: justify;
    
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/accordion.svg);
}

.accordion-button:focus {
    box-shadow: none;
}
.footer-area {
    position: relative;
    overflow: hidden;
}

.footer-area .footer-shape {
    position: absolute;
}

.footer-area .footer-shape.shape-1 {
    width: 75px;
    height: 75px;
    left: 70px;
    background-color: #fe5f59;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 15%;
    bottom: 40px;
    background-color: #33c8c1;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-3 {
    width: 20px;
    height: 20px;
    left: 35%;
    top: 40px;
    background-color: #361cc1;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-4 {
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 5px;
    background-color: #eba31a;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-5 {
    width: 39px;
    height: 39px;
    right: 37%;
    top: 0px;
    background-color: #e29e19;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .footer-shape.shape-6 {
    width: 15px;
    height: 15px;
    right: 15%;
    top: 125px;
    background-color: #b60d81;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite;

}

.footer-area .logo {
    max-width: 200px;
}

.footer-about {
    max-width: 320px;
}

.footer-about .text {
    margin-top: 30px;
}

.footer-about .social {
    margin-top: 30px;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 25px;
}

.footer-about .social li a {
    font-size: 20px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #0898e7;
}

.footer-link-wrapper {
    width: 100%;
    
}
.contact-list {
    position: relative;
    left: 350px;
    top:10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
    .footer-link {
        padding-top: 30px;
    }
}

.footer-link .link {
    padding-top: 10px;
}

.footer-link .link li {
    margin-top: 10px;
}

.footer-link .link li a {
    text-decoration: none;
    font-size: 18px;
    color: #747e88;
    transition: all .3s ease-out 0s;
}

.footer-link .link li a:hover {
    color: #0898e7;
}

.footer-title .title {
    font-size: 20px;
    font-weight: 500;
}
.team{
    margin-top:50px;
    padding: 10px;
}
.team .team-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.team .team-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.team .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}
.team .team-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.team .team-content h3{
    font-size: 16px;
    font-weight: 300;
}
.team .team-content h4{
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.team .team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}
.team:hover .team-social{
    opacity: 1;
}
.team .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}
.team .team-social a.social-tw{
    background: #00acee;
}
.team .team-social a.social-fb{
    background: #3b5998;
}
.team .team-social a.social-li{
    background: #0e76a8;
}
.team .team-social a.social-in{
    background: #3f729b;
}
.team .team-social a.social-yt{
    background: #c4302b;
}
.team .team-social a:last-child{
    margin-right: 0;
}
.team:hover .team-social a{
    margin-top: 0;
}
.team .team-social a:hover{
    background: #222222;
}

  @keyframes hailt_01{
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(209, 255, 2, 0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
    @keyframes ergelt01{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
}
@media(max-width:991px){
    .navbar-toggler{
        background-color: #02cef1;
        box-shadow: #3a3a3a;
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #ffffff;
    }
    .navbar-nav{
        box-shadow: #09d69c;
    }
    .contact-list{
        width: 450px;
        top: 0px;
        right: 0;
        left: 9px;
        text-align: center;
    }
}
